body {
    background-color: black;
    text-align: center;
    font-family: verdana;
}

.heading {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.download {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.description {
    font-size: 21px;
    color: gray;
}

.copyright {
    color: gray;
    text-align: right;
    font-size: 21px;
}